
.metadata/

codebase/Java7/.metadata/.log

*.zip

codebase/Java7/.metadata/.plugins/org.eclipse.core.resources/.history/c2/609c3d46226700151484fd5a05db98ae

*.tree

codebase/Java7/.metadata/.log

codebase/Java7/.metadata/.mylyn/.taskListIndex/segments_1

*.gen

*.zip

codebase/Java7/.metadata/.plugins/org.eclipse.core.resources/.history/c2/609c3d46226700151484fd5a05db98ae

*.index

*.version

*.index

*.zip

codebase/Java7/.metadata/.lock
